@import "tailwindcss";

@theme {
  --color-primary-background: #03254E;
  --color-second: #F5EDF0;
  --color-primary: #18F2B2;
}

html, body {
  font-family: "Fira Code", monospace !important;
  background-color: var(--color-primary-background);
  height: 100%;
}

.burger {
  transition: opacity 300ms ease;
  border: 0;
  background: transparent;
  width: 20px;
  height: 20px;
  position: relative;
}

.burger svg {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.burger svg[data-hide="true"] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}
